
/* Your CSS Code here. */
.third{
	height:100px;
	width:100px;
	font-size:40px;
	background-color:green;
}
.first {
	height:100px;
	width:100px;
	font-size:40px;
	background-color:red;
}
.second {
	height:100px;
	width:100px;
	font-size:40px;
	background-color:blue;
}
.container {
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}